.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cycleDots {
  display: flex;
  gap: 0.5rem;
}

.cycleDot {
  display: block;
  width: 2rem;
  height: 2rem;
  background: var(--primary);
  border-radius: 50%;
  margin: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.workTime {
  background: var(--warning);
}

.shortBreakTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
