.button {
  border: none;
  background: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 3.2rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(80%);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}
.red {
  background: var(--error);
  color: var(--text-over-primary);
}
.blue {
  background: var(--info);
  color: var(--text-over-primary);
}
.yellow {
  background: var(--warning);
  color: var(--text-over-primary);
}
.purple {
  background: var(--purple);
  color: var(--text-over-primary);
}
.brown {
  background: var(--brown);
  color: var(--text-over-primary);
}
.gray {
  background: var(--gray-500);
  color: var(--text-over-primary-dark);
}
.disabled {
  background: var(--disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}
